.container {
  position: relative;
}

.imageWrapper {
  width: 233px;
  height: 183px;
  border-radius: var(--border-radius-md);
}

.imageWrapper img {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-md);
  object-fit: cover;
}

span .iconWrapper {
  width: 24px;
  height: 24px;
  fill: var(--bg-color-black);
}

.textWrapper {
  display: flex;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  backdrop-filter: blur(4px);
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 25%, 0.05),
    hsla(0, 0%, 25%, 0.5)
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}

.text {
  margin: 0;
  font-size: var(--base-font-size);
  font-weight: 600;
  color: var(--bg-color-white);
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
    height: auto;
  }
}
