.btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: var(--radius-full);

  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}

.btnPrimary {
  background-color: var(--color-neutral-950);
  color: var(--color-neutral-50);
}

.btnPrimary:hover {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-200);

  transition: 0.5s ease;
  transition-property: background-color, color;
}

.btnSecondary {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
}

.btnSecondary:hover {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-800);

  transition: 0.5s ease;
  transition-property: background-color, color;
}

.btnBig {
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-tight);

  max-width: 10.875rem;
  padding: var(--spacing-3) var(--spacing-4);
  font-size: var(--font-size-smL);
}

.btnSmall {
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);

  max-width: 9.375rem;
  padding: var(--spacing-3) var(--spacing-4);
  font-size: var(--font-size-xsL);
}

button > span {
  padding: 0px 0.25rem;
}
