.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  gap: var(--spacing-3);

  font-size: var(--font-size-xsL);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-medium);

  max-width: fit-content;
}

.copyright {
  position: absolute;
  top: 25px;
  color: var(--color-neutral-400);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-semibold);
}

.location {
  padding: 4px 12px;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-500);
  border-radius: var(--radius-full);
  font-size: var(--font-size-base);
  line-height: var(--line-height-regular);

  box-shadow:
    0 2px 4px 0 hsl(0 0% 0% / 8%),
    0 0 0 1px hsl(0 0% 0% / 8%);
}

.time {
  color: var(--color-neutral-900);
  font-size: 16px;
  line-height: 24px;
}

.divider {
  content: "";
  width: var(--spacing-3);
  height: var(--spacing-3);
  background-color: var(--color-neutral-300);
}

@media (min-width: 1000px) {
  .wrapper {
    position: fixed;
    bottom: 48px;
    right: 64px;
  }
}
