.detailsPage {
  /* position: relative; */

  display: flex;
  flex-direction: column;

  gap: 24px;
  margin-top: 88px;

  max-width: 556px;
  margin: 0 auto;
  padding: var(--spacing-14) var(--spacing-6) var(--spacing-8);
}

.btnContainer {
  position: fixed;
  left: max(1.5rem, calc((100vw - 556px - 38rem) / 2));
  top: var(--spacing-14);
}

.header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  line-height: 28px;
  /* font-weight: 500; */
  color: var(--color-neutral-00);

  margin-top: 16px;
  margin-bottom: 24px;
}

.imageContainer {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* height: 400px; */
  /* margin-top: 64px; */
  color: var(--color-neutral-500);
}

.imageContainer img {
  background-color: #f5f5f5;
  border-radius: 4px;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.decorator {
  margin-left: auto;
  margin-right: auto;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.pageEnter {
  animation: fadeIn 0.3s ease-out forwards;
}

.pageExit {
  animation: fadeOut 0.3s ease-out forwards;
}

/* media query */
@media (max-width: 550px) {
  .btnContainer {
    position: static;
    padding: 0px 12px;
    margin-top: 40px;
  }

  .detailsPage {
    padding-top: 32px;
  }
}
