.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 88px;
}

.btnContainer {
  position: fixed;
  left: -160px;
}

.header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  line-height: 28px;
  /* font-weight: 500; */
  color: var(--color-neutral-00);

  /* margin-top: 24px; */
  margin-bottom: 16px;
}

.imageContainer {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* height: 400px; */
  /* margin-top: 64px; */
  color: var(--color-neutral-500);
}

.imageContainer img {
  background-color: #f5f5f5;
  border-radius: 4px;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.decorator {
  margin-left: auto;
  margin-right: auto;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.page {
  position: relative;
}

.pageEnter {
  animation: fadeIn 0.3s ease-out forwards;
}

.pageExit {
  animation: fadeOut 0.3s ease-out forwards;
}
