body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-regular);
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-50);
}

body::selection {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-600);
}
