*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit; /* or set a custom color */
}
