.container {
  background-color: var(--bg-color-gray-50);
  padding: var(--spacing-sm);
  display: flex;
  gap: var(--spacing-md);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--border-color-150);
}

.imageWrapper img {
  min-width: 100%;
  width: 172px;
  height: 100%;
  border-radius: var(--border-radius-md);
}

.textContainer {
  min-width: 272px;
}

.organizationName,
.date,
.description {
  margin: 0;
}

.organizationName {
  font-size: var(--base-font-size);
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color-white-300);
}

.date {
  font-size: var(--font-size-xsm);
  font-weight: 600;
  line-height: 1.4;
  margin-top: var(--spacing-sm);
  color: var(--text-color-white-100);
}

.description {
  font-size: var(--base-font-size);
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color-white-200);
  margin-top: var(--spacing-md);
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
