.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-md);
}

.textContainer h3 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 1.4;
  max-width: 272px;
  text-align: center;
}

.contactLinkContainer {
  margin-top: var(--spacing-5xl);
}

.footer {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-5xl);
}

.footer p {
  margin-top: 0;
}

.footerText {
  font-size: var(--base-font-size);
  font-weight: 600;
  color: var(--text-color-black-100);
}

.footerText span {
  color: var(--text-color-white-300);
}

@media (max-width: 500px) {
  .contactContainer {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .contactLinkContainer {
    margin-top: var(--spacing-2xl);
  }

  .footer {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-3xl);
    text-align: center;
  }
}
