.appWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-11);
  min-height: 100%;

  max-width: 556px;
  margin: 0 auto;
  padding: var(--spacing-14) var(--spacing-6);
}

.skipLink {
  position: absolute;
  top: -40px;
  left: var(--spacing-6);
  z-index: 100;
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: var(--radius-base);
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-50);
}

.skipLink:focus {
  top: var(--spacing-3);
}

/* media query */
@media (max-width: 550px) {
  .appWrapper {
    padding-top: var(--spacing-11);
    padding-bottom: var(--spacing-11);
  }
}
