:root {
  --bg-color-white: hsl(0, 0, 100);
  --bg-color-black: hsl(0, 0, 7);

  --text-color-white-300: hsl(0, 0, 10);
  --text-color-white-200: hsl(0, 0, 44);
  --text-color-white-100: hsl(0, 0, 62);

  --text-color-black-300: hsl(0, 0, 88);
  --text-color-black-200: hsl(60, 7, 79);
  --text-color-black-100: hsl(53, 3, 47);
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

body {
  margin: 0;
}

html {
  background-color: var(--bg-color-white);
}

#root {
  margin: 0 auto;
  max-width: 700px;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
  /* margin: 24px 24px; */
}
