:root {
  --bg-color-white: hsl(0, 0%, 100%);
  --bg-color-black: hsl(0, 0%, 7%);

  --text-color-white-300: hsl(0, 0%, 10%);
  --text-color-white-200: hsl(0, 0%, 44%);
  --text-color-white-100: hsl(0, 0%, 62%);

  --text-color-black-300: hsl(0, 0%, 88%);
  --text-color-black-200: hsl(60, 7%, 79%);
  --text-color-black-100: hsl(53, 3%, 47%);

  --base-font-size: 16px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 56px;
  --spacing-5xl: 64px;
}

body {
  margin: 0;
  background-color: var(--bg-color-white);
}

#root {
  margin: 0 auto;
  max-width: 476px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
