@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

body {
  margin: 0;
}

html {
  background-color: #dedede;
}

#root {
  font-family: "Open Runde", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 24px 24px;
}
